<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
</head>
<body>
<h1>Контакты</h1>
<ul>
    {% for item in object_list %}
    <li>{{item.context}}</li>
    {% endfor %}
</ul>
<!--<form method="POST" action="#">-->
<form method="post" action="">
    <div>
        <label>Ваше имя </label>
    </div>
    <div>
        <input type="text">
    </div>
    <div>
        <label>Ваш email</label>
    </div>
    <div>
        <input type="text">
    </div>
    <div>
        <label>Ваше сообщение</label>
    </div>
    <div>
        <textarea></textarea>
    </div>
    <input type="submit" value="Отправить">
</form>

</body>
</html>