{% extends "base.html" %}
{% block title %}Главная{% endblock %}

{% block content %}
    <h1>Обучение программированию</h1>
    {#    <h3>secret: {{ secret }}</h3>#}
    <h3>Список категорий</h3>
    <ul>
        {% if categories %}
            {% for item in categories %}
                <li>
                    {{ item.name }}
                </li>
            {% endfor %}
        {% else %}
            Пока не создано ни одной категории
        {% endif %}
    </ul>
    <h3>Список курсов</h3>
    <ul>
        {% if courses %}
            {% for item in courses %}
                <li>
                    {{ item.name }} <span><a href="#">скопировать</a></span>
                </li>
            {% endfor %}
        {% else %}
            Пока не создано ни одного курса
        {% endif %}
    </ul>
{% endblock %}
